/*
Theme Name: Melissa's BadAss Theme
Template: twentysixteen
Theme URI: MagnusUx.ca
Description: This is a child theme developed for Dev Tools 2 Summer 2018
Author: Melissa Anderson
Version: 1.0
*/

@import url(../twentysixteen/style.css);
@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');

/*font-family: 'BioRhyme Expanded', serif; */
 


.site-branding .site-title a {
    color: #7a2d9e;
}

.site-branding .site-title a:hover, .site-branding .site-title a:focus {
    color: #c51815;
}

.site-description {
    font-size: 1.2rem;
}

.site {
    background-color: #ead8ec;
}

.entry-title {
    font-family: 'BioRhyme Expanded', serif;
}

.widget .widget-title {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 1rem;
    text-transform: none;
}

.main-navigation a {
    color: #b11058;
    }

.main-navigation a:hover, .main-navigation a:focus {
    color: #00cc00;
}
