/*
Theme Name: Melissa's BadAss Theme
Template: twentysixteen
Theme URI: MagnusUx.ca
Description: This is a child theme developed for Dev Tools 2 Summer 2018
Author: Melissa Anderson
Version: 1.0
*/

@import url(../twentysixteen/style.css);